$dark-main-color: #131313;
$black: #000000;
// $dark-main-color: #071626;

$light-main-color: #fdfdfd;
$dark-second-color: #575757;

$contact-green: #234324;

$about-blue: #edcec8;

$card-form-gray: #f7f7f7;