@import './resets';
@import './variables';



@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap');
body {
    width: 100vw;
    max-width: 2560;
    height: 100vh;
    background-color: $dark-main-color;
    font-family: 'Work Sans', sans-serif;
    scrollbar-width: none;
   -ms-overflow-style: none;
   
   ::-webkit-scrollbar {
        display: none;
   }
}


.header {
    width: min-content;
    height: min-content;
    margin: 0;
    padding: 0;
    position: fixed;
    // top: 32px;
    // left: 24px;
    top: 24px;
    left: 16px;
    z-index: 11;
    mix-blend-mode: difference;
    // isolation: isolate;
}

.logo {
    // width: 123px;
    width: 86px;
    margin: -9.5px 0 0 -4px;
  
    path {
        stroke: $light-main-color;
        fill: $light-main-color;
    }
}

.navbar {
    display: block;
    margin: 0;
    padding: 0;
    position: fixed;
    // top: 32px;
    // right: 24px;
    top: 24px;
    right: 16px;
    width: 100vw;
    height: auto;
    min-height: 3rem;
    box-sizing: border-box;
    z-index: 10;
    mix-blend-mode: difference;
}

.nav-icon {
    // display: none;
    display: block;
    z-index: 11;
    position: fixed;
    top: 32px;
    right: 16px;
    width: 40px;
    height: 40px;

    svg path {
        stroke: $light-main-color;
    }
}


.nav-elements {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-elements.active {
        top: 0;
        right: 0;
        transition: all 0.5s ease;
        opacity: 1;
        z-index: 12;
        background-color: $dark-main-color;
        mix-blend-mode: difference;
}

.nav-element-li {
    width: min-content;
    height: min-content;
    text-align: center;
    box-sizing: border-box;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;

    a {
        text-decoration: none;
        color: $light-main-color;
    }
}

.social-links {
    position: fixed;
    height: min-content;
    min-width: min-content;
    // left: 24px;
    // bottom: 32px;
    left: 16px;
    bottom: 24px;
    mix-blend-mode: difference;
    z-index: 10;
}

.social-links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

.social-links-el {
    width: min-content;
    height: min-content;
    // padding: 2rem 0;
    padding: 0.95rem 0;

    a svg path {
        fill: $light-main-color;
    }
}

.social-links-el:first-child {
    padding-top: 0;
}

.social-links-el:last-child {
    padding-bottom: 0;
}

.social-icon {
    display: none;
}


/****************** ALL SECTIONS ********************/
.section {
    width: 100vw;
    height: 100vh;
    display: grid;
    // z-index: -10;
}

/****************** HERO SECTION ********************/

.hero {
    background-color: $light-main-color;
    padding: 24px 16px;
    position: static;
    grid-template-columns: 30px 1fr 1fr 30px;
    grid-template-rows: repeat(6, 1fr);
    gap: 12px 12px;
}

.my-name {
    color: $dark-main-color;
    font-weight: 400;
    font-size: 1em;
    align-self: end;
    padding: 2rem 0 0.5rem 0;
    grid-row: 2 / 3;
    grid-column: 2 / -2;
}

.what-i-do {
    color: $dark-second-color;
    font-weight: 600;
    font-size: 1.5em;
    padding: 1rem 0 0.5rem 0;
    line-height: 1.75em;
    grid-row: 3 / 6;
    grid-column: 2 / -2;

}

.emp {
    color: $dark-main-color;
    font-weight: 600;
}

.my-work-btn {
    background-color: $dark-main-color;
    width: min-content;
    height: min-content;
    line-height: normal;
    border: 0;
    border-radius: 30px;
    // padding: 1rem 2.5rem;
    padding: 0.65rem 1.625rem;
    font-family: 'Work Sans', sans-serif;
    white-space: nowrap;
    font-weight: 400;
    font-size: 0.8rem;
    color: $light-main-color;
    align-self: start;
    justify-self: end;
    cursor: pointer;
    grid-row: 6 / 7;
    grid-column: 2 / -2;
}

/****************** ABOUT SECTION ********************/

.about {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0 16px;
    box-sizing: border-box;
    display: grid;
    z-index: 1;
    position: static;
    left: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px 12px;
    color: $light-main-color;
    mix-blend-mode: difference;
}

.tools-header, .about-header {
    font-weight: 600;
    text-decoration: underline;
    text-align: left;
    font-size: 32px;
}

.about-header {
    grid-row: 3 /  4;
    grid-column: 3 / 4;
}

.about-text {
    margin: 0;
    padding: 0;
    grid-row: 3 / 6;
    grid-column: 5 / 11;
    font-weight: 600;
    font-size: 32px;
    margin-top: -10px;
    line-height: 60px;
    display: block;
}

.details-link {
    width: min-content;
    height: min-content;
    line-height: normal;
    border: 0;
    padding: 0.75rem 1.875rem;
    white-space: nowrap;
    background-color: $light-main-color;
    grid-row: 5 / 6;
    grid-column: 10 / 11;
    border-radius: 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $dark-main-color;
    align-self: end;
    justify-self: end;
    text-decoration: none;
    z-index: 11;
    mix-blend-mode: difference;
    cursor: pointer;
    word-wrap: break-word;
    display: block;
    margin: 20px 0;

    a {
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
}

.tools-header {
    grid-row: 8 / 9;
    grid-column: 3 / 4;
}

.tools-table {
    grid-column: 5 / 11;
    grid-row: 8 / 11;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tools-element {
    font-size: 32px;
    font-weight: 600;
    flex: 0 0 30%;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    text-align: center;
}

/****************** PROJECTS SECTION ********************/


.projects {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0 16px;
    box-sizing: border-box;
    display: grid;
    z-index: 1;
    position: static;
    left: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px 12px;
    background-color: $light-main-color;
    mix-blend-mode: difference;
}




/*************** MEDIA QUERIES ************************/
@media screen and (max-width: 2232px) {
    // .what-i-do {
    //     font-size: 76px;
    // }
}

@media screen and (max-width: 1976px) {
    // .what-i-do {
    //     font-size: 68px;
    // }
}

@media screen and (max-width: 1920px) {
    .social-links-el {
        padding: 1.75rem 0;
    }
    // .my-name {
    //     font-size: 34px;
    // }
    .tools-header, .about-header, .about-text, .tools-element {
        font-size: 30px;
    }
    .about-text {
        grid-row: 3 / 7;
    }
    .details-link {
        grid-row: 6 / 7;
        align-self: start;
    }
}

@media screen and (max-width: 1776px) {
    // .what-i-do {
    //     font-size: 58px;
    // }
}

@media screen and (max-width: 1764px) {
    .details-link {
        grid-row: 6 / 7;
        grid-column: 9 / 11;
    }
}

@media screen and (max-width:1664px) {
    .about-text {
        line-height: 55px;
    }
    .details-link {
        align-self: end;
    }
}

@media screen and (max-width: 1536px) {
    .social-links-el {
        padding: 1.45rem 0;
    }
    // .my-name {
    //     font-size: 32px;
    // }
    // .what-i-do {
    //     font-size: 56px;
    // }
    .tools-header, .about-header, .about-text, .tools-element {
        font-size: 24px;
    }
    .details-link {
        font-size: 14;
        padding: 0.7rem 1.75rem;
    }
}

@media screen and (max-width: 1440px) {
    .social-links-el {
        padding: 1.05rem 0;
    }
    // .what-i-do {
    //     font-size: 52px;
    // }
    // .my-work-btn {
    //     grid-row: 11 / 12;
    //     grid-column: 9 / 12;
    //     align-self: center;
    // }
    .tools-header, .about-header, .about-text, .tools-element {
        font-size: 22px;
    }
    .about-text {
        grid-row: 3 / 7;
        line-height: 50px;
    }
    .details-link {
        font-size: 12px;
        padding: 0.65rem 1.625rem;
    }
}

@media screen and (max-width: 1366px) {
    // .my-name {
    //     font-size: 30px;
    // }
}

@media screen and (max-width: 1280px) {
    .logo {
            // width: 86px;
    }
    .social-links-el {
        padding: 0.95rem 0;
    }
    // .my-name {
    //     font-size: 28px;
    // }
    // .what-i-do {
    //     font-size: 48px;
    // }
    .about-text {
        line-height: 45px;
    }
    .details-link {
        margin: 30px 0 20px 0;
        padding: 0.6rem 1.5rem;
    }
}

@media screen and (max-width: 1230px) {
    .about-text, .tools-table, .about-text, .tools-element  {
        font-size: 20px;
    }
    .about-text {
        grid-row: 4 / 6;
        grid-column: 3 / 11;
    }
    .tools-table {
        grid-row: 9 / 12;
        grid-column: 3 / 11;
    }
}

@media screen and (max-width: 1180px) {
    .details-link {
        margin: 0px;
        grid-row: 7 / 8;
        align-self: start;
        padding: 0.6rem 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    // .my-name {
    //     font-size: 26px;
    // }
    // .what-i-do {
    //     font-size: 42px;
    // }
}

@media screen and (max-width: 960px) {
    .navbar {
        top: 0px;
        right: 0px;
        left: 0px;
        height: 100vh;
        mix-blend-mode: normal;
    }
    .nav-icon {
        display: block;
        mix-blend-mode: difference;
    }
    .nav-elements {
        flex-direction: column;
        position: absolute;
        justify-content: center;
        // width: 100%;
        // height: 100%;
        right: -100%;
        top: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-element-li {
        text-align: left;
        width: 100%;
        padding: 3rem 4rem;
        z-index: 3;
        color: $light-main-color;
        border-radius: 0;
        display: flex;
        justify-content: center;
    }
    .nav-element-li a {
        font-weight: 600;
        font-size: 24px;
    }
    .social-icon {
        left: -0.5rem;
        padding: 0.25rem 1.25rem;
        border: 1.5px solid $light-main-color;
        border-radius: 20px;
    }
    // .hero {
    //     padding: 16px 12px;
    //     grid-template-columns: repeat(8, 1fr);
    //     grid-template-rows: repeat(12, 1fr);
    //     gap: 2px 2px;
    // }    
    // .my-name {
    //     grid-row: 4 / 5;
    //     grid-column: 2 / 9;
    //     align-self: end; 
    // }
    // .what-i-do {
    //     grid-row: 6 / 9;
    //     grid-column: 2 / 8;
    // }
    // .my-work-btn {
    //     font-size: 12px;
    //     grid-row: 11 / 12;
    //     grid-column: 5 / 9;
    //     align-self: end; 
    // }
    .about {
        padding: 16px 12px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 2px 2px;
    }
    .tools-header, .about-header {
        text-align: center;
        align-self: center;
        grid-column: 4 / 6;

    }
    .about-header {
        grid-row: 2 / 3;
    }
    .tools-header {
        grid-row: 8 / 9;
    }
    .about-text {
        grid-column: 2 / 8;
        grid-row: 3 / 7;
    }
    .details-link {
        font-size: 12px;
        grid-column: 5 / 8;
    }
    .tools-table {
        grid-column: 2 / 8;
        grid-row: 9 / 12;
    }
}

@media screen and (max-width: 800px) {
    // .my-name {
    //     font-size: 24px;
    // }
    .tools-header, .about-header, .about-text, .tools-element {
        font-size: 18px;
    }
}

@media screen and (max-width: 690px) {
    // .my-name {
    //     font-size: 22px;
    // }
    // .what-i-do {
    //     font-size: 36px;
    // }
    .about-header, .tools-header, .about-text, .tools-element {
        font-size: 16px;
    }
    .about-text {
        line-height: 30px;
    }
}
@media screen and (max-width: 540px) {
    .header {
        top: 24px;
        left: 16px; 
    }
    .nav-icon {
        top: 24px;
        right: 16px; 
    }
    .social-links {
        left: 16px;
        bottom: 24px;
    }
    // .my-name {
    //     font-size: 18px;
    // }
    // .what-i-do {
    //     font-size: 24px;
    // }
    
    .details-link {
        grid-row: 7 / 8;
        margin: 10px 0;
    }
}