$dark-main-color: #232424;
$light-main-color: #fdfdfd;
$dark-second-color: #575757;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
body {
    width: 100vw;
    max-width: 2560;
    height: 100vh;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    background-color: $light-main-color;
    font-family: 'Work Sans', sans-serif;
}

main {
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: repeat(12, 1fr);
    // gap: 16px 16px;
}


header {
    width: min-content;
    height: min-content;
    // margin: 32px 0 0 24px;
    margin: 0;
    padding: 0;
    // grid-column: 1 / 2;
    // grid-row: 1 / 4;
    position: fixed;
    z-index: 1;
    top: 32px;
    left: 24px;
}

.logo {
    width: 123px;
    margin: -6px 0 0 -5px;
    color: $dark-main-color
}

.navbar {
    // grid-row: 1 / 2;
    // grid-column: 8 / 13;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 32px;
    right: 24px;
    z-index: 1;
    width: min-content;
    height: auto;
    min-height: 3rem;
    box-sizing: content-box;

    @media screen and (max-width: 960px) {
        position: relative;
    }
}

.menu-icon {
    display: none;
    @media screen and (max-width: 960px) {
        display: block;
        position: fixed;
        top: 32px;
        right: 24px;
    }
}

.nav-elements {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 960px) {
        flex-direction: column;
        display: none;
    }
}

.nav-element-li {
    width: min-content;
    height: min-content;
    text-align: center;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    color: $dark-main-color;
    text-decoration: none;
    cursor: pointer;
    
    a {
        line-height: normal;
    }
    
    a, a:visited {
        text-decoration: none;
        background-image:
          linear-gradient(
                transparent 1.5px,
                black 1.5px,
                black 2.5px,
                transparent 2.5px
          ),
          linear-gradient(
                transparent 1.5px,
                white 1.5px,
                white 2.5px,
                transparent 2.5px
          );
        background-size: 0% 6px, 100% 6px;
        background-position: 0 bottom, 0 bottom;
        transition: background-size 0.2s ease-in-out;
        background-repeat: no-repeat;
        padding-bottom: 6px;
        border-bottom: 6px solid transparent;
    }
    
    a:active {
        background-size: 100% 6px;
    }
    
    a:hover {
        background-size: 100% 6px;
        padding-bottom: 6px;
    }
}


// .nav-element-li:first-child {
//     padding-left: 0;
// }
// .nav-element-li:last-child {
//     padding-right: 0;
// }


// asdasdasdasd

.social-links {
    position: fixed;
    left: 24px;
    bottom: 32px;
    margin: 0;
    padding: 0;
}

.social-links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

.social-links-el {
    width: min-content;
    height: min-content;
    padding: 0.95rem 0;
    color: $dark-main-color;
}

.social-links-el:first-child {
    padding-top: 0;
}

.social-links-el:last-child {
    padding-bottom: 0;
}

.hero {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 32px 24px;
    box-sizing: border-box;
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 16px 16px;

    h2, h3 {
        margin: 0;
        padding: 0;
    }
}

.my-name {
        font-weight: 400;
        font-size: 36px;
        grid-row: 5 / 6;
        grid-column: 3 / 11;
        color: $dark-main-color;
    }
.what-i-do {
    font-weight: 600;
    font-size: 56px;
    grid-row: 6 / 8;
    grid-column: 3 / 12;
    color: $dark-second-color;

}

.emp {
    color: $dark-main-color;
}

.my-work-btn {
    width: min-content;
    height: min-content;
    line-height: normal;
    border: 0;
    padding: 1rem 2.5rem;
    white-space: nowrap;
    background-color: #232424;
    grid-row: 11 / 12;
    grid-column: 10 / 12;
    border-radius: 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: $light-main-color;
}